* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", monospace;
  color: #344563;
  background-color: #f4f5f7;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  background: #fff;
}

header nav ul {
  display: none;
}

header span {
  margin-right: auto;
}

header span a {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
  color: #6070ff;
  font-family: "Poppins", monospace;
}

.headline {
  background-image: url("./images/header-shapes-mobile.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 90px;
}

.main_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 114px 24px;
  gap: 12px;
}

.username {
  display: inline-flex;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  width: 80%;
  align-items: center;
  text-align: left;
  align-self: flex-start;
  margin-bottom: auto;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Poppins", monospace;
}

.introduction {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  color: #344563;
  font-family: "Poppins", monospace;
}

.social_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  width: 100%;
}

#lets_connect {
  color: #7f8cff;
  font-size: 16px;
  align-self: flex-start;
  font-family: "Poppins", monospace;
}

.links {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  height: 20px;
  width: 80%;
  column-gap: 20px;
}

.links li a img {
  max-height: 20px;
}

/* works section */
.works {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  font-family: "Poppins", monospace;
  background: #f4f5f7;
  padding: 114px 24px;
  gap: 88px;
}

/* works card */
.works .card {
  background: #ffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* snapshoot */
.snapshoot_wapper {
  width: 100%;
}

.snapshoot_wapper .snapshoot {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.snapshoot_wapper .desktop,
.left_block .desktop,
.left_block .left_block_title .desktop,
.left_block .tags .desktop {
  display: none;
}

.snapshoot_wapper .mobile,
.left_block .mobile,
.left_block .left_block_title .mobile {
  display: initial;
}

/* left_block */
.left_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.left_block_title {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.left_block_title .projec_title {
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #172b4d;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left_block p {
  color: #344563;
}

.left_block_title .role_and_time {
  display: flex;
  gap: 10px;
  align-items: center;
}

.left_block .tags {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
}

.left_block ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

button.action {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  background: #fff;
  font-family: "Poppins", monospace;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
}

.about_myself {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 24px;
  border-top-right-radius: 100px;
  background: #fff;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.about_myself .top h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4f;
}

.about_myself .top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.top button.action {
  margin-top: 10px;
  width: 162px;
  height: 48px;
}

.skill_list {
  margin-top: 20px;
  width: 100%;
}

.skill_list ul li .separator {
  width: 100%;
}

.about_myself .skill_list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.skill_list ul li h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.skill_list ul li .frame {
  display: flex;
  justify-content: space-between;
}

.left_block .left_block_title .frame {
  display: flex;
  gap: 12px;
  align-items: center;
}

.left_block .left_block_title .frame .client {
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.left_block .left_block_title .frame .role,
.left_block .left_block_title .frame .year {
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.skill_list ul li .language_wrapper .language {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  gap: 20px;
  height: 66.72px;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.contact_form {
  background-color: #fff;
}

.contact_form .contact_wrapper {
  background-image: url("images/contact-form.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6070ff;
  background-position-x: 100%;
  border-top-left-radius: 100px;
  padding: 114px 24px;
}

.contact_wrapper .form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact_form .contact_wrapper .form_wrapper > h1 {
  color: #fff;
  font-weight: 700;
  font-family: "Poppins", monospace;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
}

.contact_form .contact_wrapper .form_wrapper > p {
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  width: 327px;
}

.contact_wrapper form {
  width: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.contact_wrapper input,
.contact_wrapper textarea {
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  padding: 15px 38px 15px 16px;
  width: 100%;
}

.contact_form textarea {
  min-height: 170px;
  overflow: hidden;
}

.contact_wrapper form input[type="submit"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

button {
  font-family: "Poppins", monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
}

button:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active {
  background-color: #fff;
  border: 1px solid #7f8cff;
  color: #6070ff;
}

button:disabled {
  color: #5e6c84;
  border: 1px solid #c1c7d0;
}

button:focus {
  background: #2230d2;
  color: #fff;
}

/* For Desktop and Laptop */
@media screen and (min-width: 768px) {
  .works {
    padding: 142px;
    gap: 142px;
  }

  .works .card {
    padding: 24px;
    border: 2px solid #dfe1e6;
    border-radius: 24px;
    flex-direction: row;
    gap: 22px;
  }

  .works .card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .snapshoot_wapper,
  .left_block {
    width: auto;
    height: 100%;
    flex: 1;
  }

  .snapshoot_wapper .mobile,
  .left_block .mobile,
  .left_block .left_block_title .mobile {
    display: none;
  }

  .snapshoot_wapper .desktop,
  .left_block .desktop,
  .left_block .left_block_title .desktop,
  .left_block .tags .desktop {
    display: initial;
  }

  .left_block {
    padding: 24px;
    row-gap: 24px;
  }

  .left_block_title .projec_title {
    font-size: 40px;
    line-height: 52px;
  }

  .left_block_title .frame .counter {
    height: 8px;
    width: 8px;
  }

  .left_block > p {
    font-style: 16px;
  }

  header {
    padding: 26px 155px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  header nav span {
    display: none;
  }

  header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }

  header nav ul li a {
    text-decoration: none;
    font-family: "Poppins", monospace;
    font-weight: 500;
    font-style: normal;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #344563;
    transition: all 0.1s ease-in 0.1s;
  }

  header nav ul li a:hover {
    font-weight: 700;
    font-size: 1rem;
    color: blueviolet;
  }

  .headline {
    background-image: url("./images/headerbg.png");
    background-size: 99%;
    background-position: left 20px top 80px;
  }

  .username {
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    animation: slidein;
    animation-duration: 1s;
    animation-iteration-count: 1;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: initial;
    }
  }

  .headline .introduction {
    font-size: 20px;
    line-height: 28px;
  }

  .headline .main_content {
    padding: 248px 221px 281px;
  }

  .about_myself {
    padding: 142px;
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .skill_list ul li .language_wrapper {
    list-style: none;
    flex-direction: row;
    gap: 10px;
  }

  .skill_list ul li .language_wrapper .language {
    height: 120px;
    width: 122px;
    flex-direction: column;
    padding: 10px 10px;
    align-items: flex-start;
  }

  .contact_form .contact_wrapper {
    background-image: url("./images/contact-formdp.png");
    background-size: contain;
    background-size: 90%;
    background-position: top 75px right 74px;
  }

  .contact_form .contact_wrapper .form_wrapper > p {
    font-size: 20px;
    line-height: 28px;
    width: 569px;
  }

  .form_wrapper form {
    align-items: center;
    width: 447px;
  }

  .contact_wrapper input,
  .contact_wrapper textarea {
    border-radius: 2px;
  }
}
